@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: white;
  color: #0f172a;
  transition: background-color .3s, color .3s;
}

html.dark body {
  background-color: #020617;
  color: white;
}

* {
  box-sizing: border-box;
}

/* Light Theme */

/* .light {
  background: #f8fafc;
  color: #0f172a;
} */

/* Dark Theme */

/* .dark {
  background: #020617;
  color: white;
} */